server:
  port: 8001
spring:
  profiles:
    active: dev
  application:
    name: zfcard
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    use-actual-param-name: true
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-field: defFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto
  mapper-locations: classpath:mapper/**/*Mapper.xml
# swagger 扫描爆红问题
logging:
  level:
    io.swagger.models.parameters.AbstractSerializableParameter: error

oss:
  accessKey: c8rBYMwnVssCCEnfMiHZx6Jo0g-_630xIZMDi2Nj
  secretKey: 4f4_3Pb0svNkbcGYHzBD6o1tIMZllSA7cxS7qhFz
  bucket: wen-vue-blog
  url: img.wenstudy.top/