<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.mapper.CaseContentMapper">

    <resultMap id="BaseResultMap" type="com.zf.domain.entity.CaseContent">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="caseId" column="case_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="visitorNum" column="visitor_num" jdbcType="INTEGER"/>
    </resultMap>


    <resultMap id="CaseContentVoMap" type="com.zf.domain.vo.CaseContentVo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="caseId" column="case_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="visitorNum" column="visitor_num" jdbcType="INTEGER"/>
        <result property="baseVisitorNum" column="base_visitor_num" jdbcType="INTEGER"/>
        <result property="createName" column="username" jdbcType="VARCHAR"/>
        <result property="caseName" column="case_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,case_id,title,
        img_path,content,create_by,
        create_time,update_by,update_time,
        del_flag,visitor_num,base_visitor_num
    </sql>

    <select id="getCaseContent" resultType="com.zf.domain.entity.CaseContent">
        select DISTINCT cac.case_id,
                        coc.case_name,
                        cac.title,
                        cac.img_path,
                        cac.content,
                        cac.create_by,
                        cac.create_time,
                        cac.update_by,
                        cac.update_time,
                        cac.del_flag,
                        cac.visitor_num,
                        cac.id,
                        coc.company_id
        FROM company_case coc
                 LEFT JOIN sys_user su
                           ON su.companyid = coc.company_id
                 LEFT JOIN case_content cac
                           ON cac.case_id = coc.id
        where su.id = #{id}

    </select>
    <select id="selectMyPage" resultType="com.zf.domain.vo.CaseContentVo" resultMap="CaseContentVoMap">
        SELECT cac.id,
               cac.case_id,
               cac.title,
               cac.img_path,
               cac.content,
               cac.create_by,
               cac.create_time,
               cac.update_by,
               cac.update_time,
               cac.del_flag,
               cac.visitor_num ,
               cac.base_visitor_num,
               su.username,
               cc.case_name
        FROM case_content cac
                 LEFT JOIN sys_user su ON cac.create_by = su.id
                 LEFT JOIN company_case cc ON cc.id = cac.case_id
        WHERE cac.create_by = #{userId}
          and cac.del_flag = 0
            LIMIT #{pageNum}
            , #{pageSize}
    </select>
    <select id="selectByCreateBy" resultType="com.zf.domain.vo.CaseContentVo" resultMap="CaseContentVoMap">
        SELECT cac.id,
               cac.case_id,
               cac.title,
               cac.img_path,
               cac.content,
               cac.create_by,
               cac.create_time,
               cac.update_by,
               cac.update_time,
               cac.del_flag,
               cac.visitor_num ,
               cac.base_visitor_num,
               su.username,
               cc.case_name
        FROM case_content cac
                 LEFT JOIN sys_user su ON cac.create_by = su.id
                 LEFT JOIN company_case cc ON cc.id = cac.case_id
        WHERE cac.del_flag = 0
          AND cac.create_by = #{userId}
    </select>
</mapper>
