<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.mapper.CaseContentMapper">

    <resultMap id="BaseResultMap" type="com.zf.domain.entity.CaseContent">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="caseId" column="case_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="visitorNum" column="visitor_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,case_id,title,
        img_path,content,create_by,
        create_time,update_by,update_time,
        del_flag,visitor_num
    </sql>

    <select id="getCaseContent" resultType="com.zf.domain.entity.CaseContent">
        select cac.case_id,coc.case_name,cac.title,cac.img_path,cac.content,cac.create_by,cac.create_time,cac.update_by,cac.update_time,cac.del_flag,cac.visitor_num,coc.id,coc.company_id
        FROM company_case coc
                 LEFT JOIN sys_user su
                           ON su.companyid = coc.company_id
                 LEFT JOIN case_content cac
                           ON cac.case_id = coc.id
        where su.id = #{id}

    </select>
</mapper>
