<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.mapper.CompanyCaseMapper">

    <resultMap id="BaseResultMap" type="com.zf.domain.entity.CompanyCase">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="caseName" column="case_name" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <resultMap id="companyCaseVoMap" type="com.zf.domain.vo.CompanyCaseVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="caseName" column="case_name" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createName" column="username" jdbcType="VARCHAR"/>
        <result property="orders" column="orders" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="Base_Column_List">
        id
        ,company_id,case_name,
        del_flag,create_by,create_time,
        update_by,update_time
    </sql>

    <select id="selectAllByCreateBy" resultType="com.zf.domain.vo.CompanyCaseVo" resultMap="companyCaseVoMap">
        SELECT cc.id,
               cc.company_id,
               cc.case_name,
               cc.del_flag,
               cc.create_by,
               cc.create_time,
               cc.update_by,
               cc.update_time,
               cc.orders,
               su.username
        FROM company_case cc
                 LEFT JOIN sys_user su ON su.id = cc.create_by
        WHERE cc.create_by = #{userId}
          and cc.company_id=#{companyId}
          AND cc.del_flag = 0
        order By cc.orders asc
    </select>
    <select id="selectMyPage" resultType="com.zf.domain.vo.CompanyCaseVo" resultMap="companyCaseVoMap">
        SELECT cc.id,
               cc.company_id,
               cc.case_name,
               cc.del_flag,
               cc.create_by,
               cc.create_time,
               cc.update_by,
               cc.update_time,
               cc.orders,
               su.username
        FROM company_case cc
                 LEFT JOIN sys_user su ON su.id = cc.create_by
        WHERE cc.create_by = #{userId}
          and cc.company_id=#{companyId}
          AND cc.del_flag = 0
        order By cc.orders asc
            LIMIT #{pageNum}
               , #{pageSize}
    </select>
    <select id="selectMaxOrders" resultType="java.lang.Integer">
        select IFNULL(max(orders), 0)
        from company_case cc
                 LEFT JOIN sys_user su on su.companyid = cc.company_id
        WHERE cc.del_flag = 0
    </select>

    <select id="moveUp" resultType="com.zf.domain.entity.CompanyCase">
        select *
        from company_case cc
        WHERE cc.orders &lt; #{orders}
          AND cc.del_flag = 0
        order by cc.orders desc limit 0,1
    </select>

    <select id="moveDown" resultType="com.zf.domain.entity.CompanyCase">
        select *
        from company_case cc
        WHERE cc.orders &gt; #{orders}
          AND cc.del_flag = 0
        order by cc.orders asc limit 0,1
    </select>

</mapper>
