<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.mapper.NotesVoMapper">

    <resultMap id="BaseResultMap" type="com.zf.domain.vo.NotesVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="clientId" column="cid" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="replyId" column="reply_id" jdbcType="BIGINT"/>
        <result property="notesContent" column="notes_content" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="isPublic" column="is_public" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="getNotesAndReplyAll" resultType="com.zf.domain.vo.NotesVo">
        SELECT *
        FROM notes n
                 LEFT JOIN client c ON n.create_by = c.id
                 INNER JOIN notes nos ON n.id = nos.reply_id
        WHERE n.user_id = #{id}
          and n.is_public = 0 order by n.create_time DESC

    </select>

    <select id="getAllNotes" resultType="com.zf.domain.vo.NotesVo" >
        SELECT * FROM notes where user_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getAllNoPublicById" resultType="com.zf.domain.vo.NotesVo">
        SELECT
            *
        FROM
            notes n
                LEFT JOIN client c ON n.create_by = c.id
                INNER JOIN notes nos ON n.id = nos.reply_id
        WHERE
            n.user_id = #{id,jdbcType=INTEGER} and n.is_public = 1
    </select>
    <select id="getAllPublicById" resultType="com.zf.domain.vo.NotesVo">
        SELECT
            *
        FROM
            notes n
                LEFT JOIN client c ON n.create_by = c.id
                INNER JOIN notes nos ON n.id = nos.reply_id
        WHERE
            n.user_id = #{id,jdbcType=INTEGER} and n.is_public = 0
    </select>
    <select id="getAllNotesNoReplayById" resultType="com.zf.domain.vo.NotesVo">
        SELECT
            *
        FROM
            notes n
                LEFT JOIN client c ON n.create_by = c.id
                INNER JOIN notes nos ON n.id = nos.reply_id
        WHERE
            n.user_id = #{id,jdbcType=INTEGER} and n.reply_id is null
    </select>
    <select id="getAllNotesReplayById" resultType="com.zf.domain.vo.NotesVo">
        SELECT
            *
        FROM
            notes n
                LEFT JOIN client c ON n.create_by = c.id
        WHERE
            n.user_id = #{id,jdbcType=INTEGER}
          AND n.reply_id != ""
    </select>


</mapper>
