<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.mapper.PersonalCardMapper">

    <resultMap id="BaseResultMap" type="com.zf.domain.vo.PersonalCardVo">

      <id column="roleId" jdbcType="INTEGER" property="roleId" />
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="companyId" column="companyId" jdbcType="BIGINT"/>
            <result property="phoneNumber" column="phoneNumber" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,username,companyid,roleid,phonenumber,email
    </sql>

  <select id="selectPersonalCardById" resultMap="BaseResultMap">
    SELECT distinct s.username,c.companyid,c.roleid,s.phonenumber,s.email
    FROM sys_user s
           LEFT JOIN company_role c on c.companyid=s.companyid
           LEFT JOIN sys_user_role sur ON sur.user_id=s.id
    WHERE s.id=#{id,jdbcType=INTEGER}
  </select>
</mapper>
